.container {
  height: 100vh;

  display: flex;
  align-items: center;
}
.barra-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 224px;
  height: 100%;
  padding: 0px 16px 0px 16px;
  box-shadow:0px 2px 2px 5px  #0000002d;
  background-image: linear-gradient(to bottom, #000000  , #0f0d0fb6  )
}
.texto-cubos{
  width: 114.24px;
  font-size: 16px;
  text-align: center;
  color: white;
  line-height: 19px;
  margin-top: 24px;
}
.btn-reset{
  all: unset;
  width: 152px;
  height: 52px;
  border-radius: 6px;
  text-align: center;
  color: white;
  background-color: #F0C551;
  margin-bottom: 47px;
}
.btn-reset:hover{
  background-color: #f0c65162;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  margin-left: 83px;
}
.congrats{
  width: 250px;
  position: absolute;
 left: 45%;
 bottom: 30%;
}
@media (max-width:800px){
  .container {
    height: 100vh;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-img{
    width: 30px;
    height: 70px;
    margin-top: 16px;
    margin-right: 16px;
  }
  .barra-menu{
    width: 100%;
    height: 70px;
    display: flex;
    padding: 20px;
    flex-direction: row;
    align-items: center;
  }
  .btn-reset{
    width: 75px;
    height: 30px;
    margin: 0;
  }
  .texto-cubos{
    margin: 0px;
  }
  .cards{
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width:400px){
  .card-img{
    width: 30px;
    height: 70px;
    margin-top: 16px;
    margin-right: 16px;
  }
  .barra-menu{
    width: 100%;
    display: flex;
    padding: 20px;
    flex-direction: row;
    align-items: center;
  }
  .btn-reset{
    width: 75px;
    height: 30px;
    margin: 0;
  }
  .texto-cubos{
    margin: 0px;
  }
  .cards{
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width:750px){
  .card-img{
    width: 30px;
    height: 70px;
    margin-top: 16px;
    margin-right: 16px;
  }
  .cards{
    display: flex;
    flex-wrap: wrap;
    margin-left: 16px;
  }
}